<p id="notice"><%= notice %></p>

<%= link_to @reference_file.title, @reference_file.file.url %>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_reference_file_path(@reference_file) %> |
  <%= link_to 'Back', reference_files_path %>
<% end %>
