<div id="content-list">
  <div>
    <h3><a href="#"><%= @overview.title %></a></h3>
    <p><%= @overview.description %></p>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to t("common.edit"), edit_overview_path(@overview) %> |
  <%= link_to t("common.back"), overviews_path %>
<% end %>