<p>
  <b>Title:</b>
  <%= @overview.title %>
</p>

<p>
  <b>Description:</b>
  <%= @overview.description %>
</p>

<%= link_to t("common.edit"), edit_overview_path(@overview) %> |
<%= link_to t("common.back"), overviews_path %>
