<p>
  <b>Title:</b>
  <%= @blog_entry.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blog_entry.content %>
</p>


<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
