<% @url_for_localization = blog_posts_url %>

<div id="content-list">
  <div>
    <h3><%= @blog_post.title %></h3>
    <h4><%= @blog_post.user_name %></h4>
    <p><%= simple_format @blog_post.content %></p>
  </div>
</div>

<%= link_to t("common.back"), blog_posts_path %>
