input[type="text"], textarea {
  width: 100%;
}

#middle #main #main-section p#add {
  margin-right: 18px;
}

#content-list {
  clear: both;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
}
  #content-list h3 {
    margin-left: 18px;
  }
  #content-list p {
    margin-left: 36px;
  }