.long-textfield, textarea {
  width: 100%;
}

#middle #main #main-section p#main-link {
  margin-right: 18px;
}

#content-list {
  clear: both;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
}
  #content-list h3 {
    margin-left: 18px;
  }
  #content-list h4 {
    margin-left: 24px;
  }
  #content-list p {
    margin-left: 36px;
  }
  #content-list #content-sub-list {
    margin-left: 36px;
  }
  #content-list #content-sub-list p, h5 {
    margin-left: 36px;
  }

ul.event-session {
  width: 100%;
  list-style-type: none;
  float: left;
}
  ul.event-session li {
    padding: 4px;
    float: left;
  }
  ul.event-session li.event-session-title {
    width: 35%; 
  }
  ul.event-session ul.event-session-subsection {
    width: 30%;
    list-style-type: none;
    padding: 4px;
    float: left;
  }
    ul.event-session ul.event-session-subsection li {
      padding: 0px;
    }
/*  ul.event-session li.event-session-link {
    float: right;
  }*/
  .end-event-session {
    clear: both;
  }