body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#page {
  background-color: #5b0101;
}
#header, #footer {
  background-color: #faaf0f;
}
#middle {
  background-color: #ffdd7f;
}
  #middle #sidebar {
    background-color: #00843b; 
  }
#main {
  background-color: #fff8e4;
}
#footer {
  text-align: center;
}
#footer p {
  margin: 0;
}
img { 
  border: none;
}
h3, h4 {
  color: #4d3900;
}
a {
  color: #4d3900; 
  text-decoration: none;
}
a:visited {
  color: #806f40;
}
a:hover { 
  color: #807940; 
  text-decoration: underline;
}
.title {
  color: #002173;
}

#header #header-links {
  font-size: 14px;
}
#header #tab ul li {
  background-color: #00843b;
  border-right: 1px solid #5b0101;
  font-weight: bold;
}
  #header #tab ul li a {
    color: #faaf0f;
  }

body#overviews-body #page #header #tab ul li#overviews-tab, 
body#blog-posts-body #page #header #tab ul li#blog-posts-tab, 
body#topics-body #page #header #tab ul li#topics-tab {
  background-color: #fff8e4;
}
  body#overviews-body #page #header #tab ul li#overviews-tab a, 
  body#blog-posts-body #page #header #tab ul li#blog-posts-tab a, 
  body#topics-body #page #header #tab ul li#topics-tab a {
    color: #4d3900;
  }

#search-form #search-keywords {
  width: 200px;
  float: left;
  border: 1px solid #000;
  height: 16px;
  padding: 0;
}

#authentication {
  font-size: 18px;
}
  #authentication a {
    color: #5b0101;
  }
  #authentication a:visited {
    color: #807940; 
  }
  #authentication a:hover { 
    color: #faaf0f;
  }