<% @url_for_localization = users_url(:locale => pick_other_locale_and_i18n_language_key[:locale]) %>

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
