<h1>Listing videos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>
      <video src="/images/clip-2010-09-03-15-28-02.mov" controls="controls">
        <embed src="/images/clip-2010-09-03-15-28-02.mov" />
      </video>
    </td>
  </tr>

  <tr>
    <td>
      <iframe src="http://player.vimeo.com/video/14679944" width="400" height="300" frameborder="0"></iframe><p><a href="http://vimeo.com/14679944">Untitled</a> from <a href="http://vimeo.com/user4648628">Tadatoshi Takahashi</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </td>
  </tr>
  
  <tr>
    <td>
      <img src="/images/tadatoshi_test_video_thumbnail.jpg" alt="Tadatoshi test video">
    </td>
  </tr>

</table>