<h1><%= "#{t('common.edit')} #{t('event.event_session')}" %></h1>

<%= render :partial => 'form', :locals => { :url => event_session_path(@event, @event_session) } %>

<%= link_to t("common.back"), event_path(@event) %>
