<div id="footer"> <!-- start of the footer -->

  <p id="copyright">Copyright &copy; 2010 Biochar Quebec, all rights reserved.</p>
  <p id="privacy-and-terms">
    <a href="terms.html">Terms of Service</a> |
    <a href="privacy.html">Privacy Policy</a>
  </p>  
  
</div> <!-- end of the footer -->