<div id="header"> <!-- start of header -->
  
  <div id="header-links">
    <ul>
      <li><%= link_to_other_locale %></li>
    </ul>
  </div>

  <div id="header-content">
    <h1 class="title"><%= t "common.biochar_quebec" %></h1>
    <p>
      <%= t "header.title_message" %>
    </p>
  </div>

  <div id="tab">
    <ul>
      <li id="home-tab"><a href="index.html"><%= t "common.home" %></a></li>
      <li id="second-tab"><a href="second.html">Second</a></li>
      <li id="topics-tab last-tab"><a href="topics.html">Topics</a></li>
    </ul>
  </div>
  
</div> <!-- end of header -->