<div id="sidebar"> <!-- start of the sidebar -->

  <div id="search">
    <h2 id="search-header"><%= t "common.search" %><span></span></h2>
    <form id="search-form" method="POST" action="/search_contents/">
      <div>
        <input type="text" id="search-keywords" name="keywords"></input>
        <input type="image" alt=<%= t "common.search" %> src="images/search.png"></input>
      </div>
    </form>
  </div>

  <div id="signup-login">
    <a href="/signup/">
      <!-- <img src="images/btn_signup.png" alt="Sign up"> -->
      <%= t "common.signup" %>
    </a>
    <a href="/login/">
      <!-- <img src="images/btn_login.png" alt="Log in"> -->
      <%= t "common.login" %>
    </a>
  </div><!-- end signup-login -->
  
</div> <!-- end of the sidebar -->